@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">

    @if (User.IsInRole("Administrator"))
    {
        <li>
            <a class="nav-link" href="@Url.Action("Index", "AspNetUsers")">Users</a>
        </li>
    }
        <li>
            <a class="nav-link" href="@Url.Action("Index", "Manage")"> @User.Identity.GetUserName()  </a>
        </li>

        <li>
            <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        </li>
    </ul>
    }
}
else
{
<ul class="nav navbar-nav navbar-right">

    <li>
        <a class="nav-link" href="@Url.Action("Register", "Account", new { id = "registerLink" })">Register</a>
    </li>

    <li>
        <a class="nav-link" href="@Url.Action("Login", "Account",  new { id = "loginLink" })">Log in</a>
    </li>

</ul>
}
