@using FlexCoders_Assignment.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}


<div class="text-center">

    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <br>
        <br>
        <img class="mb-4" src="~/Content/logo_zoom.png" alt="" width="150" height="150">
        <h1 class="h3 mb-3 font-weight-normal">Please Sign in</h1>




        @Html.LabelFor(m => m.Email, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control ", @type = "email", @placeholder = "Email", @id = "inputEmail", @data_val = "true" })




        @Html.LabelFor(m => m.Password, new { @class = "sr-only" })
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @type = "password", @placeholder = "Password", @data_val = "true", @id = "inputPassword" })




        <div class="checkbox mb-3">
            <label>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </label>
        </div>


        @Html.ValidationSummary()


        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Log in">Sign in</button>

    }
    <p>
        Need an Account?  @Html.ActionLink("Sign Up", "Register")
    </p>

    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })

</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}